<div class="col-md-12">
  <div class="section-title text-center">
    <h3 class="title">Paid Courses</h3>
  </div>
</div>

<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/4188320_d3e3_3.jpg">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Computer Science</p>
            <h3 class="product-name"><a href="#">Git & GitHub - The Practical Guide</a></h3>
            <h4 class="product-price">$380.00
              <del class="product-old-price">$400.00</del>
            </h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/914296_3670_8.jpg">
            <div class="product-label">
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Marketing</p>
            <h3 class="product-name"><a href="#">Network Marketing</a></h3>
            <h4 class="product-price">$700.00
              <del class="product-old-price">$990.00</del>
            </h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <div class="clearfix visible-sm visible-xs"></div>

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/2630614_1a6d.jpg">
          </div>
          <div class="product-body">
            <p class="product-category">Management</p>
            <h3 class="product-name"><a href="#">Hotel Management</a></h3>
            <h4 class="product-price">$100.00
              <del class="product-old-price">$150.00</del>
            </h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/933482_68e1_3.jpg">
          </div>
          <div class="product-body">
            <p class="product-category">Management</p>
            <h3 class="product-name"><a href="#">Event Organiser</a></h3>
            <h4 class="product-price">$980.00
              <del class="product-old-price">$990.00</del>
            </h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->
<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      
      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/1753904_e01f_2.jpg">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Trading</p>
            <h3 class="product-name"><a href="#">Crypto Trading</a></h3>
            <h4 class="product-price">$380.00
              <del class="product-old-price">$500.00</del>
            </h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/3227583_5e75_6.jpg">
            <div class="product-label">
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Computer Science</p>
            <h3 class="product-name"><a href="#">UI/UX Designer</a></h3>
            <h4 class="product-price">$90.00
              <del class="product-old-price">$100.00</del>
            </h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <div class="clearfix visible-sm visible-xs"></div>

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/903744_8eb2.jpg">
          </div>
          <div class="product-body">
            <p class="product-category">Computer Science</p>
            <h3 class="product-name"><a href="#">Data Science Fundamentals</a></h3>
            <h4 class="product-price">$980.00
              <del class="product-old-price">$990.00</del>
            </h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/629302_8a2d_2.jpg">
          </div>
          <div class="product-body">
            <p class="product-category">Computer Science</p>
            <h3 class="product-name"><a href="#">Python Fundamentals</a></h3>
            <h4 class="product-price">$500.00
              <del class="product-old-price">$690.00</del>
            </h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->
<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
            <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/2302354_4ddd_8.jpg">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Computer Science</p>
            <h3 class="product-name"><a href="#">The Blender 2.8 Encyclopedia</a></h3>
            <h4 class="product-price">$590.00
              <del class="product-old-price">$790.00</del>
            </h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/1576854_9aeb_2.jpg">
            <div class="product-label">
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Computer Science</p>
            <h3 class="product-name"><a href="#">C++ Programming :Beginners to Advanced</a></h3>
            <h4 class="product-price">$980.00
              <del class="product-old-price">$990.00</del>
            </h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <div class="clearfix visible-sm visible-xs"></div>

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/573984_ce2a_3.jpg">
          </div>
          <div class="product-body">
            <p class="product-category">Marketing</p>
            <h3 class="product-name"><a href="#">Google Advertisement</a></h3>
            <h4 class="product-price">$480.00
              <del class="product-old-price">$800.00</del>
            </h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img alt="" src="https://img-c.udemycdn.com/course/480x270/2121018_9de5_5.jpg">
          </div>
          <div class="product-body">
            <p class="product-category">Computer Science</p>
            <h3 class="product-name"><a href="#">Mastering Data Structures & Algorithms</a></h3>
            <h4 class="product-price">$880.00
              <del class="product-old-price">$1990.00</del>
            </h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
              </button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
              </button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->
